.auth-main-container {
    width: 100%;
    height: 100%;
    // background-color: #9ec3e4;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    min-height: 100vh;
    position: relative;
    background-color: #5095D6;
    overflow: hidden;

    .forms-container {
        position: absolute;
        width: 100;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #fff
    }

};