.auth-main-container {
    width: 100%;
    height: 100%;
    // background-color: #9ec3e4;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    position: relative;
    background-color: $login-auth-main-container-background-color;
    overflow: hidden;

    .forms-container {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        // background-color: #fff;

        .sign-in-sign-up {
            position: absolute;
            top: 50%;
            left: 75%;
            transform: translate(-50%, -50%);
            width: 50%;
            display: grid;
            grid-template-columns: 1fr;
            z-index: 5;
            transition: 1s .7s ease-in-out;

            .sign-in-form {
                z-index: 2;
            };

            .sign-up-form {
                z-index: 1;
                opacity: 0;
            };
        };

        form {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding: 0 5rem;
            overflow: hidden;
            grid-column: 1 / 2;
            grid-row: 1 / 2;
            transition: 0.2s 0.7s ease-in-out;

            .form-title {
                font-size: 2.2rem;
                color: $login-auth-main-container-forms-container-form-title-color;
                margin-bottom: 10px;
            };

            .input-field {
                max-width: 380px;
                width: 100%;
                height: 55px;
                background-color: $login-auth-main-container-forms-container-input-field-background-color;
                margin: 10px 0;
                border-radius: 55px;
                display: grid;
                grid-template-columns: 15% 85%;
                padding: 0 .4rem;

                .icon {
                    text-align: center;
                    line-height: 55px;
                    color: $login-auth-main-container-forms-container-input-field-icon-color;
                    font-size: 1.1rem
                };

                input {
                    background: none;
                    outline: none;
                    border: none;
                    line-height: 1;
                    font-weight: 600;
                    font-size: 1.1rem;
                    color:  $login-auth-main-container-forms-container-input-field-input-color;
                };

                input::placeholder {
                    color: $login-auth-main-container-forms-container-input-field-input-placeholder-color;
                    font-weight: 500;
                };
            };

            .submit-btn {
                width: 150px;
                height: 49px;
                border: none;
                outline: none;
                border-radius: 49px;
                background-color:  $login-auth-main-container-forms-container-form-submit-btn-background-color;
                color:  $login-auth-main-container-forms-container-form-submit-btn-color;
                text-transform: uppercase;
                font-weight: 600;
                margin: 10px 0;
                transition: .5s;
                cursor: pointer;
            };

            .submit-btn:hover {
                background-color: $login-auth-main-container-forms-container-form-submit-btn-Onhover-background-color;
            };

            .social-text {
                padding: .7rem;
                font-size: 1rem;
            };

            .social-media {
                display: flex;
                justify-content: center;

                .social-icon {
                    height: 46px;
                    width: 46px;
                    border: 1px solid $login-auth-main-container-forms-container-form-social-media-social-icon-border-color;
                    margin: 0 .45rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-decoration: none;
                    color: $login-auth-main-container-forms-container-form-social-media-social-icon-color;
                    font-size: 1.1rem;
                    border-radius: 50%;
                    transition: .3s
                };

                .social-icon:hover {
                    color: $login-auth-main-container-forms-container-form-social-media-social-icon-onHover-color;
                    border-color: $login-auth-main-container-forms-container-form-social-media-social-icon-onHover-border-color;
                };
            };
        };
    };

    .panels-container {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        .panel {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: space-around;
            text-align: center;
            z-index: 7;
            transition: .9s .6s ease-in-out;

            .content {
                color: $login-auth-main-container-panels-container-panel-content-color;
            };

            h3{
                font-weight: 600;
                line-height: 1;
                font-size: 1.5rem;
                margin: 0;
            };

            p{
                font-size: 0.95rem;
                padding: 0.7rem 0;
                margin: 0;
            };
        };

        .left-panel {
            padding: 3rem 17% 2rem 12%;
            pointer-events: all;

            .content {
                transition: 1.1s .4s ease-in-out;
            };
        };

        .right-panel {
            padding: 3rem 12% 2rem 17%;
            pointer-events: none;
        };

        .btn {
            width: 130px;
            height: 41px;
            border: 2px solid #fff;
            outline: none;
            border-radius: 49px;
            background: none;
            color: #fff;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 0.8rem;
            margin: 0;
            transition: .5s;
            cursor: pointer;   
        };

        .btn:hover {
            background-color: #4d84e2;
        };

        .right-panel .content, .right-panel img {
            transform: translateX(800px);
            transition: 1.1s .4s ease-in-out;
        };
    };

    img {
        width: 100%;
        margin-top: 20px;
        transition: 1.1s .4s ease-in-out;
    };
};

.auth-main-container::before {
    content: '';
    position: absolute;
    width: 2000px;
    height: 2000px;
    border-radius: 50%;
    background: linear-gradient(-45deg, #4481eb, #04befe);
    top: -10%;
    right: 48%;
    transform: translateY(-50%);
    z-index: 6;
    transition: 1.8s ease-in-out;
};

.auth-main-container.sign-up-mode::before{
    transform: translate(100%, -50%);
    right: 52%;
};

.auth-main-container.sign-up-mode .left-panel img,
.auth-main-container.sign-up-mode .left-panel .content {
    transform: translateX(-800px);
};

.auth-main-container.sign-up-mode .right-panel .content,
.auth-main-container.sign-up-mode .right-panel img {
    transform: translateX(0px)
};

.auth-main-container.sign-up-mode {
    .sign-in-sign-up {

        .sign-in-form {
            z-index: 1;
            opacity: 0;
        };

        .sign-up-form {
            z-index: 2;
            opacity: 1;
        }; 
        left: 25%;
    }

    .left-panel {
        pointer-events: none;

        .content {
            transition: 1.1s .4s ease-in-out;
        }
    };

    .right-panel {
        pointer-events: all;
    };
};

@media (max-width: 870px) {
    .auth-main-container {
        min-height: 800px;
        height: 100vh;
        margin-top: 65px;

        .forms-container {

            .sign-in-sign-up {
                width: 100%;
                left: 50%;
                top: 95%;
                transform: translate(-50%, -100%)
            };
        }

        .panels-container {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 2fr 1fr;


            .panel {
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                padding: 2.5rem 8%;

                img {
                    width: 200px;
                    transition: 0.9s 0.6s ease-in-out;
                };

                .content {
                    padding-right: 15%;
                    transition: 0.9s 0.8s ease-in-out;
                };

                h3{
                    font-size: 1.2rem;
                };

                p{
                    font-size: 0.7rem;
                    padding: 0.5rem 0;
                };

                .btn {
                    width: 110px;
                    height: 35px;
                    font-size: 0.7rem
                };
            };

            .left-panel {
                grid-row: 1 / 2;
            };

            .right-panel {
                grid-row: 3 / 4;
            }

            .right-panel .content, .right-panel img {
                transform: translateY(300px)
            }
        }
    };

    .auth-main-container::before{
        // display: none;
        width: 1500px;
        height: 1500px;
        left: 30%;
        bottom: 68%;
        transform: translateX(-50%);
        right: initial;
        top: initial;
        transition: 2s ease-in-out;
    };

    .auth-main-container.sign-up-mode {
        .sign-in-sign-up {
            // width: 100%;
            left: 50%;
            top: 5%;
            transform: translate(-50%, 0);
            transition: 2s ease-in-out
        };

        .panels-container{
            .panel{
                padding: 2.5rem 8%;

                img {
                    width: 200px;
                };

                .content {
                    padding-right: 15%;
                };

                h3{
                    font-size: 1.2rem;
                };

                p{
                    font-size: 0.7rem;
                    padding: 0.5rem 0;
                };

                .btn {
                    width: 110px;
                    height: 35px;
                    font-size: 0.7rem
                };
            }
        }
    }

    .auth-main-container.sign-up-mode .left-panel img,
    .auth-main-container.sign-up-mode .left-panel .content {
    transform: translateY(-300px);
    };

    .auth-main-container.sign-up-mode .right-panel .content,
    .auth-main-container.sign-up-mode .right-panel img {
    transform: translateY(0px)
    };

    .auth-main-container.sign-up-mode::before{
        transform: translate(-50%, 100%);
        bottom: 32%;
        right: initial;
    };
};

@media (max-width: 570px) {

    .auth-main-container {

        form {
            padding: 0 1.5rem;
        };
    
        img {
            display: none;
        };

        .panels-container {
            .panel .content {
                padding: 0.5rem 1rem;
            }
        };
    };

    .auth-main-container::before{
        bottom: 72%;
        left: 50%;
    };

    .auth-main-container.sign-up-mode::before{
        bottom: 28%;
        left: 50%
    }
};