.masonry-post {
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    height: 300px;
    width: 300px;
    text-decoration: none;
    margin: 0 auto;
    display: flex;
    // flex-direction: column;

}