.text-editor-container {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .text-editor-header {
        width: 20%;
        height: 20%;
        display: flex;
        // flex-direction: column;
        justify-content: center;
        align-items: center;   
    };

    .text-editor-wrapper {
        width: 80%;
        height: 80vh;
        display: flex;
        // flex-direction: column;
        justify-content: center;
        align-items: center;

        .text-editor {
            width: 100%;
            height: 100%;

            .quill .ql-formats .ql-bold {
                position: relative;
            };

            .quill .ql-formats .ql-bold::after{
                content: '';
                background-color: black;
                width: 30px;
                height: 30px;
                position: absolute;
                top: -100%;
            };

            .quill .ql-formats .ql-bold::before{
                content: '';
                background-color: black;
                width: 30px;
                height: 30px;
                position: absolute;
            };

            .quill .ql-formats .ql-bold:hover{
                // background-color: black;
            };

            .quill .ql-editor{
                img{
                    height: 100px;
                    width: 100px
                };
            };

            .quill .ql-editor {
                iframe {
                    width: 800px;
                    height: 300px;
                };
            };
        };
    };
};