.text-editor-container {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

    .text-editor-header {
        width: 100%;
        height: 8vh;
        display: flex;
        justify-content: center;
        align-items: center;   
        margin-top: -45px;

        .editor-header {
            width: 95%;
            height: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;

            .editor-post-title {
                height: 97%;
                width: 40%;
                display: flex;
                justify-content: flex-start;
                align-items: center;

                input {
                    height: 80%;
                    width: 65%;
                    outline: none;
                    border: 1px #ccc solid;
                    background-color: #f8f8f8;

                    &::placeholder{
                        color: rgb(150, 146, 146);
                        font-weight: 300;
                    };
                };
            };

            .editor-post-category-container {
                height: 90%;
                width: 40%;
                display: flex;
                justify-content: flex-start;
                align-items: center;

                .editor-post-category {
                    height: 80%;
                    width: 65%;
                    background-color: #f8f8f8;
                    padding: 0 7px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    position: relative;
                    cursor: pointer;
                    z-index: 10;
                    box-sizing: border-box;
                    box-shadow: 0 9px 12px #ccc, 0 3px 6px #ccc;

                    .category-selector-text {
                        color: rgb(150, 146, 146);
                        font-weight: 300
                    }
                };

                .editor-post-category-dropDown {
                    height: 0;
                    width: 22.4%;
                    background-color: #fff;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    top: calc(46px + 8vh);
                    z-index: 1;
                    padding-left: 0;
                    border-radius: 0;
                    
                    transform: translateY(calc(-90%));
                    transition: height .7s ease-in-out;
                    

                    ul{
                        height: 2%;
                        width: 100%;
                        margin: 0;
                        list-style: none;
                        padding: 0;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        transition: height .7s ease-in-out;

                        li{
                            height: 2%;
                            width: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            position: relative;
                            cursor: pointer;
                            border-radius: 3px;
                            transition: height .7s ease-in-out;
                        };

                        li:hover{
                            background-color: #f1f1f1;

                            b:nth-child(1),
                            b:nth-child(2) {
                                display: block;
                            }

                        };
                    };

                    &.active {
                        height: 200px;
                        display: flex;
                        // transition: all .7s ease-in-out;
                        transform: translateY(calc(0%));
                        transition: transform .7s ease-in-out;
                        position: absolute;
                        top: calc(75px + 8vh);
                        z-index: 11;
                        padding-left: 10px;
                        border-radius: 10px;

                        ul{
                            height: 90%;

                            li{
                                display: flex;
                                height: 30%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                position: relative;
                                cursor: pointer;

                                b:nth-child(1){
                                    position: absolute;
                                    top: -20px;
                                    height: 20px;
                                    width: 100%;
                                    background-color: #F1F1E6;
                                    display: none;
                                };
    
                                b:nth-child(1)::before{
                                    content: '';
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    width: 100%;
                                    height: 100%;
                                    background-color: #fff;
                                    border-bottom-right-radius: 20px
                                };
    
                                b:nth-child(2){
                                    position: absolute;
                                    bottom: -20px;
                                    height: 20px;
                                    width: 100%;
                                    background-color: #F1F1E6;
                                    display: none;
                                };
    
                                b:nth-child(2)::before{
                                    content: '';
                                    position: absolute;
                                    bottom: 0;
                                    left: 0;
                                    width: 100%;
                                    height: 100%;
                                    background-color: #fff;
                                    border-top-right-radius: 20px
                                };
                            };

                            li:hover{
                                b:nth-child(1),
                                b:nth-child(2) {
                                    display: block;
                                };
                            };
                        };
                    };
                };
            };

            .editor-post-image-container {
                height: 90%;
                width: 30%;
                display: flex;
                justify-content: space-around;
                align-items: center;

                .editor-post-image{
                    height: 90%;
                    width: 15%;
                    // background-color: black;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: 5px;

                    
                    img{
                        overflow: hidden;
                        object-fit: cover;
                        object-position: center center;
                        height: 100%;
                        width: 100%;
                        margin: 0 auto;
                    }
                };

                .editor-post-image-btn {
                    height: 80%;
                    width: 60%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: 5px;


                    label {
                        display: block;
                        position: relative;
                        width: 100%;
                        height: 100%;
                        background: linear-gradient(-45deg, #4481eb, #04befe);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: #fff;
                        cursor: pointer;

                        .file {
                            opacity: 0;
                            width: 100%;
                            height: 100%;
                            cursor: pointer;
                            position: absolute !important;
                        };

                        span{
                            cursor: pointer;
                            
                        };
                    };

                    label:hover{
                        cursor: pointer;
                        background: linear-gradient(-45deg, #fff, #F1F1E6);
                        color: #04befe;
                        border: 2px #04befe solid;
                    };
                };

                .preiview-btn {
                    width: 100px;
                    height: 45px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    

                    button{
                        width: 100%;
                        height: 100%;
                        background: linear-gradient(-45deg, #4481eb, #04befe);
                        border: none;
                        outline: none;
                        color: #fff;
                        cursor: pointer;
                        display: flex;
                        justify-content: center;
                        align-items: center
                    };

                    button:hover{
                        background: linear-gradient(-45deg, #fff, #F1F1E6);
                        color: #04befe;
                        border: 2px #04befe solid;
                    };
                };
            };
        };
    };

    .text-editor-wrapper {
        width: 100%;
        height: 60vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 30px;

        .text-editor {
            width: 95%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            

            .quill{
                height: 100%;
                width: 100%;
                // border-bottom: 2px #ccc solid;
                position: relative;

                .ql-container.ql-snow{
                    .ql-editor.ql-blank{
                        &::before{
                            color: rgb(150, 146, 146);
                            font-weight: 300;
                        };
                    }
                };
            };

            .quill .ql-formats .ql-bold {
                position: relative;
            };

            .quill .ql-formats .ql-bold:hover:after{
                content: 'Bold';
                color: black;
                background-color: #ccc;
                width: 100px;
                height: 30px;
                position: absolute;
                border-radius: 30px;
                top: -165%;
                left: calc(50% - 50px);
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                // transform: translateY(50%);
                // transition: all 1000s ease-in-out
            };

            .quill .ql-formats .ql-bold:hover:before{
                content: '';
                // background-color: black;
                // width: 30px;
                // height: 30px;
                position: absolute;
                top: -39.6%;
                right: calc(50% - 15px);
                border-top: 15px solid #ccc;
                border-right: 15px solid transparent;
                border-left: 15px solid transparent;
                // transform: translateY(50%);
                // transition: all 1000s ease-in-out
            };

            .quill .ql-formats .ql-color-picker {
                position: relative;
            };

            .quill .ql-formats .ql-color-picker:hover:after{
                content: 'Color Picker';
                color: black;
                background-color: #ccc;
                width: 100px;
                height: 30px;
                position: absolute;
                border-radius: 30px;
                top: -165%;
                left: calc(50% - 50px);
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                // transform: translateY(50%);
                // transition: all 1000s ease-in-out
            };

            .quill .ql-formats .ql-color-picker:hover:before{
                content: '';
                // background-color: black;
                // width: 30px;
                // height: 30px;
                position: absolute;
                top: -39.6%;
                right: calc(50% - 15px);
                border-top: 15px solid #ccc;
                border-right: 15px solid transparent;
                border-left: 15px solid transparent;
                // transform: translateY(50%);
                // transition: all 1000s ease-in-out
            };

            .quill .ql-formats .ql-italic {
                position: relative;
            };

            .quill .ql-formats .ql-italic:hover:after{
                content: 'Italic';
                color: black;
                background-color: #ccc;
                width: 100px;
                height: 30px;
                position: absolute;
                border-radius: 30px;
                top: -165%;
                left: calc(50% - 50px);
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                // transform: translateY(50%);
                // transition: all 1000s ease-in-out
            };

            .quill .ql-formats .ql-italic:hover:before{
                content: '';
                // background-color: black;
                // width: 30px;
                // height: 30px;
                position: absolute;
                top: -39.6%;
                right: calc(50% - 15px);
                border-top: 15px solid #ccc;
                border-right: 15px solid transparent;
                border-left: 15px solid transparent;
                // transform: translateY(50%);
                // transition: all 1000s ease-in-out
            };

            .quill .ql-formats .ql-underline {
                position: relative;
            };

            .quill .ql-formats .ql-underline:hover:after{
                content: 'Underline';
                color: black;
                background-color: #ccc;
                width: 100px;
                height: 30px;
                position: absolute;
                border-radius: 30px;
                top: -165%;
                left: calc(50% - 50px);
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                // transform: translateY(50%);
                // transition: all 1000s ease-in-out
            };

            .quill .ql-formats .ql-underline:hover:before{
                content: '';
                // background-color: black;
                // width: 30px;
                // height: 30px;
                position: absolute;
                top: -39.6%;
                right: calc(50% - 15px);
                border-top: 15px solid #ccc;
                border-right: 15px solid transparent;
                border-left: 15px solid transparent;
                // transform: translateY(50%);
                // transition: all 1000s ease-in-out
            };

            .quill .ql-formats .ql-strike {
                position: relative;
            };

            .quill .ql-formats .ql-strike:hover:after{
                content: 'Strike';
                color: black;
                background-color: #ccc;
                width: 100px;
                height: 30px;
                position: absolute;
                border-radius: 30px;
                top: -165%;
                left: calc(50% - 50px);
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                // transform: translateY(50%);
                // transition: all 1000s ease-in-out
            };

            .quill .ql-formats .ql-strike:hover:before{
                content: '';
                // background-color: black;
                // width: 30px;
                // height: 30px;
                position: absolute;
                top: -39.6%;
                right: calc(50% - 15px);
                border-top: 15px solid #ccc;
                border-right: 15px solid transparent;
                border-left: 15px solid transparent;
                // transform: translateY(50%);
                // transition: all 1000s ease-in-out
            };

            .quill .ql-formats .ql-blockquote {
                position: relative;
            };

            .quill .ql-formats .ql-blockquote:hover:after{
                content: 'Blockquote';
                color: black;
                background-color: #ccc;
                width: 100px;
                height: 30px;
                position: absolute;
                border-radius: 30px;
                top: -165%;
                left: calc(50% - 50px);
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                // transform: translateY(50%);
                // transition: all 1000s ease-in-out
            };

            .quill .ql-formats .ql-blockquote:hover:before{
                content: '';
                // background-color: black;
                // width: 30px;
                // height: 30px;
                position: absolute;
                top: -39.6%;
                right: calc(50% - 15px);
                border-top: 15px solid #ccc;
                border-right: 15px solid transparent;
                border-left: 15px solid transparent;
                // transform: translateY(50%);
                // transition: all 1000s ease-in-out
            };

            .quill .ql-formats .ql-list {
                position: relative;
            };

            .quill .ql-formats .ql-list:hover:after{
                content: 'List';
                color: black;
                background-color: #ccc;
                width: 100px;
                height: 30px;
                position: absolute;
                border-radius: 30px;
                top: -165%;
                left: calc(50% - 50px);
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                // transform: translateY(50%);
                // transition: all 1000s ease-in-out
            };

            .quill .ql-formats .ql-list:hover:before{
                content: '';
                // background-color: black;
                // width: 30px;
                // height: 30px;
                position: absolute;
                top: -39.6%;
                right: calc(50% - 15px);
                border-top: 15px solid #ccc;
                border-right: 15px solid transparent;
                border-left: 15px solid transparent;
                // transform: translateY(50%);
                // transition: all 1000s ease-in-out
            };

            .quill .ql-formats .ql-indent {
                position: relative;
            };

            .quill .ql-formats .ql-indent:hover:after{
                content: 'Indent';
                color: black;
                background-color: #ccc;
                width: 100px;
                height: 30px;
                position: absolute;
                border-radius: 30px;
                top: -165%;
                left: calc(50% - 50px);
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                // transform: translateY(50%);
                // transition: all 1000s ease-in-out
            };

            .quill .ql-formats .ql-indent:hover:before{
                content: '';
                // background-color: black;
                // width: 30px;
                // height: 30px;
                position: absolute;
                top: -39.6%;
                right: calc(50% - 15px);
                border-top: 15px solid #ccc;
                border-right: 15px solid transparent;
                border-left: 15px solid transparent;
                // transform: translateY(50%);
                // transition: all 1000s ease-in-out
            };

            .quill .ql-formats .ql-link {
                position: relative;
            };

            .quill .ql-formats .ql-link:hover:after{
                content: 'List';
                color: black;
                background-color: #ccc;
                width: 100px;
                height: 30px;
                position: absolute;
                border-radius: 30px;
                top: -165%;
                left: calc(50% - 50px);
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                // transform: translateY(50%);
                // transition: all 1000s ease-in-out
            };

            .quill .ql-formats .ql-link:hover:before{
                content: '';
                // background-color: black;
                // width: 30px;
                // height: 30px;
                position: absolute;
                top: -39.6%;
                right: calc(50% - 15px);
                border-top: 15px solid #ccc;
                border-right: 15px solid transparent;
                border-left: 15px solid transparent;
                // transform: translateY(50%);
                // transition: all 1000s ease-in-out
            };

            .quill .ql-formats .ql-image {
                position: relative;
            };

            .quill .ql-formats .ql-image:hover:after{
                content: 'Image';
                color: black;
                background-color: #ccc;
                width: 100px;
                height: 30px;
                position: absolute;
                border-radius: 30px;
                top: -165%;
                left: calc(50% - 50px);
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                // transform: translateY(50%);
                // transition: all 1000s ease-in-out
            };

            .quill .ql-formats .ql-image:hover:before{
                content: '';
                // background-color: black;
                // width: 30px;
                // height: 30px;
                position: absolute;
                top: -39.6%;
                right: calc(50% - 15px);
                border-top: 15px solid #ccc;
                border-right: 15px solid transparent;
                border-left: 15px solid transparent;
                // transform: translateY(50%);
                // transition: all 1000s ease-in-out
            };

            .quill .ql-formats .ql-video {
                position: relative;
            };

            .quill .ql-formats .ql-video:hover:after{
                content: 'Video';
                color: black;
                background-color: #ccc;
                width: 100px;
                height: 30px;
                position: absolute;
                border-radius: 30px;
                top: -165%;
                left: calc(50% - 50px);
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                // transform: translateY(50%);
                // transition: all 1000s ease-in-out
            };

            .quill .ql-formats .ql-video:hover:before{
                content: '';
                // background-color: black;
                // width: 30px;
                // height: 30px;
                position: absolute;
                top: -39.6%;
                right: calc(50% - 15px);
                border-top: 15px solid #ccc;
                border-right: 15px solid transparent;
                border-left: 15px solid transparent;
                // transform: translateY(50%);
                // transition: all 1000s ease-in-out
            };

            .quill .ql-formats .ql-code-block {
                position: relative;
            };

            .quill .ql-formats .ql-code-block:hover:after{
                content: 'Code Block';
                color: black;
                background-color: #ccc;
                width: 100px;
                height: 30px;
                position: absolute;
                border-radius: 30px;
                top: -165%;
                left: calc(50% - 50px);
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                // transform: translateY(50%);
                // transition: all 1000s ease-in-out
            };

            .quill .ql-formats .ql-code-block:hover:before{
                content: '';
                // background-color: black;
                // width: 30px;
                // height: 30px;
                position: absolute;
                top: -39.6%;
                right: calc(50% - 15px);
                border-top: 15px solid #ccc;
                border-right: 15px solid transparent;
                border-left: 15px solid transparent;
                // transform: translateY(50%);
                // transition: all 1000s ease-in-out
            };

            .quill .ql-editor{
                img{
                    height: 380px;
                    width: 80%;
                    overflow: hidden;
                    object-fit: cover;
                    object-position: center center;
                    // height: 100%;
                    // width: 100%;
                    margin: 0 auto;
                };
            };

            .quill .ql-editor {
                iframe {
                    width: 800px;
                    height: 300px;
                };
            };
        };
    };

    .text-editor-action-buttons-container {
        position: absolute;
        bottom: calc(0% + 10px);
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .text-editor-action-buttons {
            width: 95%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            button{
                width: 100px;
                height: 35px;
                background: linear-gradient(-45deg, #4481eb, #04befe);
                border: none;
                outline: none;
                color: #fff;
                cursor: pointer;
            };

            button:hover{
                background: linear-gradient(-45deg, #fff, #F1F1E6);
                color: #04befe;
                border: 2px #04befe solid;
            };

            .del-btn{
                background: linear-gradient(-45deg, #fff, #F1F1E6);
                color: #f35832;
                border: 2px #f35832 solid;
            };

            .del-btn:hover{
                background: linear-gradient(-45deg, #f35832, #dc3545);
                color: #fff;
                border: 2px #dc3545 solid;
            };

        };

    };
};