/*      ----------      all colors for different points in the appliation(normal screen size eg laptops)      -----------------------------------------      */
$article-main-container-comments-comments-container-comment-right-part-comment-content-comment-actions-color: rgb(51, 51, 51);
$article-main-container-comments-comments-container-comment-right-part-comment-content-replies-toggler-before-background-color: #ccc;
$article-main-container-comment-form-textarea-border-color: 1px solid rgb(107, 114, 12);
$article-main-container-comment-form-button-background: rgb(59, 130, 246);
$article-main-container-comment-form-button-color: white;
$article-main-container-comment-form-button-onHover-background: rgb(37, 99, 235);
$article-main-container-textarea-border-color: #ccc;
$Article-Preview-Action-Button-Container-button-background: linear-gradient(-45deg, #fff, #F1F1E6);
$Article-Preview-Action-Button-Container-button-Onhover-background: linear-gradient(-45deg, #4481eb, #04befe);
$blog-main-container-section-1-background-color: #5095D6;
$blog-main-container-section-1-card-1-wrapper-button-background-color: #F1F1E6;
$blog-main-container-section-1-card-1-wrapper-button-onHover-background-color: #ffffff;
$blog-main-container-section-1-card-1-wrapper-button-color: #000;
$blog-main-container-section-3-background-color: #F1F1E6;
$blog-main-container-section-4-background-color: #5095D6;
$blog-main-container-section-5-background-color: #F1F1E6;
$body-background-color: #F1F1E6;
$dialogue-box-popup-background: #fff;
$dialogue-box-popup-box-shadow-color: rgba(0,0,0,.30);
$dialogue-box-popup-description-color: #222;
$dialogue-box-popup-icon-border-color: #f35832;
$dialogue-box-popup-popup-dismiss-btn-cancel-popup-btn-background: linear-gradient(-45deg, #fff, #F1F1E6);
$dialogue-box-popup-popup-dismiss-btn-cancel-popup-btn-border-color: #f35832;
$dialogue-box-popup-popup-dismiss-btn-cancel-popup-btn-color: #f35832;
$dialogue-box-popup-popup-dismiss-btn-cancel-popup-btn-onHover-background: linear-gradient(-45deg, rgb(255, 224, 224), #f1cbc4);
$dialogue-box-popup-popup-dismiss-btn-cancel-popup-btn-onHover-color: #f35832;
$dialogue-box-popup-popup-dismiss-btn-cancel-popup-btn-onHover-border-color: #f35832;
$dialogue-box-popup-popup-dismiss-btn-confirm-popup-btn-background: linear-gradient(-45deg, #f35832, #dc3545);
$dialogue-box-popup-popup-dismiss-btn-confirm-popup-btn-border-color: #dc3545;
$dialogue-box-popup-popup-dismiss-btn-confirm-popup-btn-color: #fff;
$dialogue-box-popup-popup-dismiss-btn-confirm-popup-btn-onHover-background: linear-gradient(-45deg, #ec4419, #b32231);
$dialogue-box-popup-popup-dismiss-btn-confirm-popup-btn-onHover-border-color: #dc3545;
$dialogue-box-popup-popup-dismiss-btn-confirm-popup-btn-onHover-color: #fff;
$footer-background-color: #5095D6;
$footer-texts-color: #000000;
$input-type-checkbox-Checked: #ccc;
// $login-auth-main-container-background-color: #fff;
$login-auth-main-container-before-background-color: linear-gradient(-45deg, #4481eb, #04befe);
$login-auth-main-container-forms-container-form-title-color: #000;
$login-auth-main-container-forms-container-form-social-media-social-icon-border-color: #333;
$login-auth-main-container-forms-container-form-social-media-social-icon-color: #333;
$login-auth-main-container-forms-container-form-social-media-social-icon-onHover-border-color: #4d84e2;
$login-auth-main-container-forms-container-form-social-media-social-icon-onHover-color: #4d84e2;
$login-auth-main-container-forms-container-form-submit-btn-background-color: #5095D6;
$login-auth-main-container-forms-container-form-submit-btn-color: #fff;
$login-auth-main-container-forms-container-form-submit-btn-Onhover-background-color: #4d84e2;
$login-auth-main-container-forms-container-input-field-background-color: #f0f0f0;
$login-auth-main-container-forms-container-input-field-icon-color: #acacac;
$login-auth-main-container-forms-container-input-field-input-color: #333;
$login-auth-main-container-forms-container-input-field-input-placeholder-color: #aaa;
$login-auth-main-container-panels-container-btn-border-color: #fff;
$login-auth-main-container-panels-container-btn-color: #fff;
$login-auth-main-container-panels-container-btn-background-color: #4d84e2;
$login-auth-main-container-panels-container-panel-content-color: #fff;
$menu-content-container-a-color: #000000;
$menu-content-container-a-color-onHover: #EC6103;
$navbar-and-sidebar-border-color: #cccccc;
$navigation-background-color: #5095D6;
$navigation-background-active-color: #ffffff;
$post-masonry-imageTitle-color: white;
$post-masonry-tags-container-textsColor: white;
$settings-dropDown-Menu-backGroundColor: white;
$settings-dropDown-Menu-border-color: #cccccc;
$settings-dropDown-Menu-Card-backGroundColor: #f8f8f8;
$text-color: #65312F;
$text-editor-container-text-editor-header-editor-header-category-selector-text-color: rgb(150, 146, 146);
$text-editor-container-text-editor-header-editor-header-editor-post-category-background-color: #f8f8f8;
$text-editor-container-text-editor-header-editor-header-editor-post-category-box-shadow-color: #ccc;
$text-editor-container-text-editor-header-editor-header-editor-post-category-dropDown-active-ul-li-b-nth-child-1-background-color: #F1F1E6;
$text-editor-container-text-editor-header-editor-header-editor-post-category-dropDown-active-ul-li-b-nth-child-1-before-background-color: #fff;
$text-editor-container-text-editor-header-editor-header-editor-post-category-dropDown-active-ul-li-b-nth-child-2-background-color: #F1F1E6;
$text-editor-container-text-editor-header-editor-header-editor-post-category-dropDown-active-ul-li-b-nth-child-2-before-background-color: #fff;
$text-editor-container-text-editor-header-editor-header-editor-post-category-dropDown-background-color: #fff;
$text-editor-container-text-editor-header-editor-header-editor-post-category-dropDown-ul-li-onHover-background-color: #f1f1f1;
$text-editor-container-text-editor-header-editor-header-editor-post-image-container-editor-post-image-btn-label-background: linear-gradient(-45deg, #4481eb, #04befe);
$text-editor-container-text-editor-header-editor-header-editor-post-image-container-editor-post-image-btn-label-color: #fff;
$text-editor-container-text-editor-header-editor-header-editor-post-image-container-editor-post-image-btn-label-onHover-background: linear-gradient(-45deg, #fff, #F1F1E6);
$text-editor-container-text-editor-header-editor-header-editor-post-image-container-editor-post-image-btn-label-onHover-border-color: #04befe;
$text-editor-container-text-editor-header-editor-header-editor-post-image-container-editor-post-image-btn-label-onHover-color: #04befe;
$text-editor-container-text-editor-header-editor-header-editor-post-image-container-editor-preiview-btn-button-background: linear-gradient(-45deg, #4481eb, #04befe);
$text-editor-container-text-editor-header-editor-header-editor-post-image-container-editor-preiview-btn-button-color: #fff;
$text-editor-container-text-editor-header-editor-header-editor-post-image-container-editor-preiview-btn-button-onHover-background: linear-gradient(-45deg, #fff, #F1F1E6);
$text-editor-container-text-editor-header-editor-header-editor-post-image-container-editor-preiview-btn-button-onHover-border-color: #04befe;
$text-editor-container-text-editor-header-editor-header-editor-post-image-container-editor-preiview-btn-button-onHover-color: #04befe;
$text-editor-container-text-editor-header-editor-header-editor-post-title-input-background-color: #f8f8f8;
$text-editor-container-text-editor-header-editor-header-editor-post-title-input-placeholder-color: rgb(150, 146, 146);
$text-editor-container-text-editor-header-editor-header-editor-post-title-input-border-color:#ccc;
$text-editor-container-text-editor-wrapper-text-editor-quill-ql-editor-ql-blank-before-color: rgb(150, 146, 146);
$text-editor-container-text-editor-wrapper-text-editor-quill-ql-formats-ql-bold-onHover-after-background-color: #ccc;
$text-editor-container-text-editor-wrapper-text-editor-quill-ql-formats-ql-bold-onHover-after-color: black;
$text-light: #999;
$title-text-color: #000000;
$toggle-checkbox-lightMode-backgroundColor: #f8f8f8;
$toggle-checkbox-lightMode-check-before-backgroundColor: #f8f8f8;
$toggle-mode-container-border-color: #cccccc;
/*      ----------      all colors for different points in the appliation(smaller screen sizes eg mobile devies, tablets)      -----------------------------------------      */

$Blog-Navigation-text-color-for-smaller-screen-sizes: #383A23;
$menu-content-container-a-onHover-color-for-smaller-screen-sizes: #020202;
$menu-content-container-a-text-color-for-smaller-screen-sizes: #000000;
$menu-content-container-li-onHover-background-color-for-smaller-screen-sizes: #F2FAFF;
$menu-content-container-li-onHover-color-for-smaller-screen-sizes: #020202;
$menu-icon-text-color-for-smaller-screen-sizes: #65312F;
$more-icon-dropDown-Menu-Card-background-color-for-smaller-screen-sizes: #e6e6e6;
$more-icon-dropDown-Menu-Card-box-shadow-color-for-smaller-screen-sizes: #cccccc;
$more-icon-dropDown-Menu-Card-true-background-color-for-smaller-screen-sizes: #e6e6e6;
$more-icon-text-color-for-smaller-screen-sizes: #65312F;
$sideBar-backgroundColor: #5095D6;
$toggle-mode-container-border-top-color-for-smaller-screen-sizes: #ccc;



/*      ----------      all colors for different points in the appliation(DarkMode)      -----------------------------------------      */
$App-darkMode-background-color: #181817;
$App-darkMode-h1-color: #ddd;
$App-darkMode-h2-color: white;
$App-darkMode-grid-pagination-container-post-container-border-color: #666666;
$App-darkMode-nav-background-color: #101e2b;
$App-darkMode-nav-menu-content-container-ul-li-a-color: #bdc1c6;
$App-darkMode-nav-menu-content-container-ul-li-a-onHover-color: #dee0e3;
$App-darkMode-nav-menu-title-color: #bdc1c6;
$App-darkMode-p-color: #bdc1c6;
$App-darkMode-settings-dropdown-menu-background-color: #1b2938;
$App-darkMode-footer-background-color:#101e2b;
$App-darkMode-footer-texts-color: #666666;
$App-darkMode-footer-h4-color: #a3a3a3;
$App-darkMode-login-auth-main-container-before-background-color: linear-gradient(-45deg, #0e1a2f, #012633);
$App-darkMode-login-auth-main-container-h2-color: white;
$App-darkMode-login-auth-main-container-forms-container-form-submit-btn-background-color: linear-gradient(-45deg, #0e1a2f, #012633);
$App-darkMode-login-auth-main-container-forms-container-form-submit-btn-color: #a3a3a3;
$App-darkMode-login-auth-main-container-forms-container-form-submit-btn-Onhover-background-color: linear-gradient(-45deg, #142746, #01394c);
$App-darkMode-login-auth-main-container-panels-container-btn-border-color: #ccc;
$App-darkMode-login-auth-main-container-panels-container-btn-color: #a3a3a3;
$App-darkMode-login-auth-main-container-panels-container-btn-onHover-background-color: #0e1a2f;
$App-darkMode-login-auth-main-container-panels-container-panel-h3-color: #ddd;
$App-darkMode-login-auth-main-container-panels-container-panel-p-color: #666666;
$toggle-checkbox-darkMode-backgroundColor: #181817;
$toggle-checkbox-darkMode-check-after-backgroundColor: #181817;





/*      ----------      all colors for different points in the appliation(DarkMode(smaller screen sizes eg mobile devies, tablets))      -----------------------------------------      */
$App-darkMode-nav-menu-content-container-background-color: #1b2938;
$App-darkMode-nav-menu-content-container-li-hover-background-color: #101922;
$App-darkMode-nav-more-icon-dropDown-Menu-background-color: #101e2b;
$App-darkMode-nav-more-icon-dropDown-Menu-Card-true-background-color: #666666;
$App-darkMode-nav-more-icon-dropDown-Menu-Card-true-users-avatar-name-color: white;
$App-darkMode-nav-more-icon-dropDown-Menu-toggle-mode-container-border-color: #666666;