/*      ----------      all colors for different points in the appliation(normal screen size eg laptops)      -----------------------------------------      */
$body-background-color: #F1F1E6;
$title-text-color: #383A23;
$text-color: #65312F;
$navbar-and-sidebar-border-color: #cccccc;
$menu-content-container-a-onHover-color: #020202;
$menu-content-container-li-onHover-color: #020202;
$menu-content-container-li-onHover-background-color: #EC6103;
$input-type-checkbox-Checked: #f8f8f8;
$navigation-link-color-onHover: #8A9820;
$menu-content-container-a-color: #444;
$navigation-background-color: white;
$settings-dropDown-Menu-Card-backGroundColor: #f8f8f8;
$settings-dropDown-Menu-backGroundColor: white;
$toggle-checkbox-darkMode-backgroundColor: #092c3e;
$toggle-checkbox-lightMode-backgroundColor: #f8f8f8;
$toggle-checkbox-lightMode-check-before-backgroundColor: #f8f8f8;
$toggle-checkbox-darkMode-check-after-backgroundColor: #092c3e;

/*      ----------      all colors for different points in the appliation(smaller screen sizes eg mobile devies, tablets)      -----------------------------------------      */
$sideBar-backgroundColor: white;
$Blog-Navigation-text-color-for-smaller-screen-sizes: #383A23;
$menu-content-container-a-text-color-for-smaller-screen-sizes: #383A23;
$menu-icon-text-color-for-smaller-screen-sizes: #65312F;
$more-icon-text-color-for-smaller-screen-sizes: #65312F;