/*      ----------      all colors for different points in the appliation(normal screen size eg laptops)      -----------------------------------------      */
$Article-Preview-Action-Button-Container-button-background: linear-gradient(-45deg, #fff, #F1F1E6);
$Article-Preview-Action-Button-Container-button-Onhover-background: linear-gradient(-45deg, #4481eb, #04befe);
$blog-main-container-section-1-background-color: #5095D6;
$blog-main-container-section-1-card-1-wrapper-button-background-color: #F1F1E6;
$blog-main-container-section-1-card-1-wrapper-button-onHover-background-color: #ffffff;
$blog-main-container-section-1-card-1-wrapper-button-color: #000;
$blog-main-container-section-3-background-color: #F1F1E6;
$blog-main-container-section-4-background-color: #5095D6;
$blog-main-container-section-5-background-color: #F1F1E6;
$body-background-color: #F1F1E6;
$footer-background-color: #232527;
$footer-texts-color: #000000;
$input-type-checkbox-Checked: #f8f8f8;
$login-auth-main-container-background-color: #fff;
$login-auth-main-container-forms-container-form-title-color: #000;
$login-auth-main-container-forms-container-form-social-media-social-icon-border-color: #333;
$login-auth-main-container-forms-container-form-social-media-social-icon-color: #333;
$login-auth-main-container-forms-container-form-social-media-social-icon-onHover-border-color: #4d84e2;
$login-auth-main-container-forms-container-form-social-media-social-icon-onHover-color: #4d84e2;
$login-auth-main-container-forms-container-form-submit-btn-background-color: #5095D6;
$login-auth-main-container-forms-container-form-submit-btn-color: #fff;
$login-auth-main-container-forms-container-form-submit-btn-Onhover-background-color: #4d84e2;
$login-auth-main-container-forms-container-input-field-background-color: #f0f0f0;
$login-auth-main-container-forms-container-input-field-icon-color: #acacac;
$login-auth-main-container-forms-container-input-field-input-color: #333;
$login-auth-main-container-forms-container-input-field-input-placeholder-color: #aaa;
$login-auth-main-container-panels-container-panel-content-color: #fff;
$menu-content-container-a-color: #000000;
$menu-content-container-a-color-onHover: #EC6103;
$navbar-and-sidebar-border-color: #cccccc;
$navigation-background-color: #5095D6;
$post-masonry-imageTitle-color: white;
$post-masonry-tags-container-textsColor: white;
$settings-dropDown-Menu-backGroundColor: white;
$settings-dropDown-Menu-border-color: #cccccc;
$settings-dropDown-Menu-Card-backGroundColor: #f8f8f8;
$text-color: #65312F;
$text-light: #999;
$title-text-color: #000000;
$toggle-checkbox-darkMode-backgroundColor: #092c3e;
$toggle-checkbox-darkMode-check-after-backgroundColor: #092c3e;
$toggle-checkbox-lightMode-backgroundColor: #f8f8f8;
$toggle-checkbox-lightMode-check-before-backgroundColor: #f8f8f8;
$toggle-mode-container-border-color: #cccccc;
/*      ----------      all colors for different points in the appliation(smaller screen sizes eg mobile devies, tablets)      -----------------------------------------      */

$Blog-Navigation-text-color-for-smaller-screen-sizes: #383A23;
$menu-content-container-a-onHover-color-for-smaller-screen-sizes: #020202;
$menu-content-container-a-text-color-for-smaller-screen-sizes: #000000;
$menu-content-container-li-onHover-background-color-for-smaller-screen-sizes: #F2FAFF;
$menu-content-container-li-onHover-color-for-smaller-screen-sizes: #020202;
$menu-icon-text-color-for-smaller-screen-sizes: #65312F;
$more-icon-dropDown-Menu-Card-background-color-for-smaller-screen-sizes: white;
$more-icon-dropDown-Menu-Card-box-shadow-color-for-smaller-screen-sizes: #cccccc;
$more-icon-dropDown-Menu-Card-true-background-color-for-smaller-screen-sizes: #f8f8f8;
$more-icon-text-color-for-smaller-screen-sizes: #65312F;
$sideBar-backgroundColor: #5095D6;
$toggle-mode-container-border-top-color-for-smaller-screen-sizes: #f5f2f2;