/*      ----------      all colors for different points in the appliation(normal screen size eg laptops)      -----------------------------------------      */
$body-background-color: #F1F1E6;
$title-text-color: #474838;
$text-color: #65312F;
$input-type-checkbox-Checked: #f8f8f8;
$navigation-link-color-onHover: #2997ff;
$navigation-link-color: #444;
$navigation-background-color: #e6e6e6;
$settings-dropDown-Menu-Card-backGroundColor: #f8f8f8;
$settings-dropDown-Menu-backGroundColor: white;
$toggle-checkbox-darkMode-backgroundColor: #092c3e;
$toggle-checkbox-lightMode-backgroundColor: #f8f8f8;
$toggle-checkbox-lightMode-check-before-backgroundColor: #f8f8f8;
$toggle-checkbox-darkMode-check-after-backgroundColor: #092c3e;

/*      ----------      all colors for different points in the appliation(smaller screen sizes eg mobile devies, tablets)      -----------------------------------------      */
$sideBar-backgroundColor: #ffffff;
$text-colors-for-smaller-screen-sizes: #474838;