/*      ----------      all colors for different points in the appliation(normal screen size eg laptops)      -----------------------------------------      */
$body-background-color: #f8f9fa;
$input-type-checkbox-Checked: #f8f8f8;
$navigation-link-color-onHover: #2997ff;
$navigation-link-color: #444;
$navigation-background-color: white;
$settings-dropDown-Menu-Card-backGroundColor: #f8f8f8;
$settings-dropDown-Menu-backGroundColor: white;
$toggle-checkbox-darkMode-backgroundColor: #092c3e;
$toggle-checkbox-lightMode-backgroundColor: #f8f8f8;
$toggle-checkbox-lightMode-check-before-backgroundColor: #f8f8f8;
$toggle-checkbox-darkMode-check-after-backgroundColor: #092c3e;

/*      ----------      all colors for different points in the appliation(smaller screen sizes eg mobile devies, tablets)      -----------------------------------------      */
$sideBar-backgroundColor: #ffad9c;