/*      ----------      all colors for different points in the appliation(normal screen size eg laptops)      -----------------------------------------      */
$body-background-color: #F1F1E6;
$title-text-color: #000000;
$text-light: #999;
$text-color: #65312F;
$navbar-and-sidebar-border-color: #cccccc;
$settings-dropDown-Menu-border-color: #cccccc;
$toggle-mode-container-border-color: #cccccc;
$input-type-checkbox-Checked: #f8f8f8;
$menu-content-container-a-color-onHover: #EC6103;
$menu-content-container-a-color: #000000;
$navigation-background-color: #047cec;
$settings-dropDown-Menu-Card-backGroundColor: #f8f8f8;
$settings-dropDown-Menu-backGroundColor: white;
$toggle-checkbox-darkMode-backgroundColor: #092c3e;
$toggle-checkbox-lightMode-backgroundColor: #f8f8f8;
$toggle-checkbox-lightMode-check-before-backgroundColor: #f8f8f8;
$toggle-checkbox-darkMode-check-after-backgroundColor: #092c3e;
$post-masonry-imageTitle-color: white;
$post-masonry-tags-container-textsColor: white;
$footer-background-color: #047cec;
$footer-texts-color: #000000;
/*      ----------      all colors for different points in the appliation(smaller screen sizes eg mobile devies, tablets)      -----------------------------------------      */
$sideBar-backgroundColor: #047cec;
$Blog-Navigation-text-color-for-smaller-screen-sizes: #383A23;
$menu-content-container-a-text-color-for-smaller-screen-sizes: #000000;
$menu-icon-text-color-for-smaller-screen-sizes: #65312F;
$more-icon-text-color-for-smaller-screen-sizes: #65312F;
$more-icon-dropDown-Menu-Card-true-background-color-for-smaller-screen-sizes: #f8f8f8;
$more-icon-dropDown-Menu-Card-background-color-for-smaller-screen-sizes: white;
$more-icon-dropDown-Menu-Card-box-shadow-color-for-smaller-screen-sizes: #cccccc;
$toggle-mode-container-border-top-color-for-smaller-screen-sizes: #f5f2f2;
$menu-content-container-a-onHover-color-for-smaller-screen-sizes: #020202;
$menu-content-container-li-onHover-background-color-for-smaller-screen-sizes: #EC6103;
$menu-content-container-li-onHover-color-for-smaller-screen-sizes: #020202;