 @import './variables';
 @import './navigation';
 @import './home';
 @import './masonry-post';
 @import './post-masonry';
 @import './tag-row';
 @import './post-grid.scss';
 @import './blog';
 @import './login';
 @import './article.scss';
 @import './article_preview';
 @import './richtexteditor';
 @import './dialogue-box.scss';
 @import './footer';

 .App-darkMode {
   transition: all 2s ease-in-out;
    h1{
      color: $App-darkMode-h1-color;
    };

    h2{
      color: $App-darkMode-h2-color;
    };

    p{
      color: $App-darkMode-p-color;
    };
  
    background-color: $App-darkMode-background-color;

    nav {
      background-color: $App-darkMode-nav-background-color;

      .menu-title {
        color: $App-darkMode-nav-menu-title-color;
      };

      .menu-content-container {
        ul{
          li{
            a{
              color: $App-darkMode-nav-menu-content-container-ul-li-a-color;

              &:hover{
                color: $App-darkMode-nav-menu-content-container-ul-li-a-onHover-color;
              }
            };
          };

          .settings-dropDown-Menu-Card-true {
            background-color: $App-darkMode-nav-more-icon-dropDown-Menu-Card-true-background-color;

            .settings-dropDown-Menu {
              background-color: $App-darkMode-nav-more-icon-dropDown-Menu-background-color;

              .users-avatar-name{
                color: $App-darkMode-nav-more-icon-dropDown-Menu-Card-true-users-avatar-name-color;
              };

            };
          };
        };
      };
    };

    main{
      .grid-pagination-container{
        .post-container{
          border: 0.00001px solid $App-darkMode-grid-pagination-container-post-container-border-color;
          
        }
      }
    };

    .auth-main-container{
      .forms-container form{

        .form-title{
          color: $App-darkMode-login-auth-main-container-h2-color;
        };

        .input-field{
          background-color: $App-darkMode-login-auth-main-container-forms-container-input-field-background-color;

          input{
            color:  $App-darkMode-login-auth-main-container-forms-container-input-field-input-color;
          }
        };

        .submit-btn {
          background:  $App-darkMode-login-auth-main-container-forms-container-form-submit-btn-background-color;
          color:  $App-darkMode-login-auth-main-container-forms-container-form-submit-btn-color;
        };

        .submit-btn:hover {
          background: $App-darkMode-login-auth-main-container-forms-container-form-submit-btn-Onhover-background-color;
        };

        .social-media{
          .social-icon{
            border: 1px solid $App-darkMode-login-auth-main-container-forms-container-form-social-media-social-icon-border-color;
            color: $App-darkMode-login-auth-main-container-forms-container-form-social-media-social-icon-color;
          };

          .social-icon:hover {
            color: $login-auth-main-container-forms-container-form-social-media-social-icon-onHover-color;
            border-color: $login-auth-main-container-forms-container-form-social-media-social-icon-onHover-border-color;
          };
        }; 
      };

      .panels-container{
        .panel{
          h3{
            color: $App-darkMode-login-auth-main-container-panels-container-panel-h3-color;
          };
  
          p{
            color: $App-darkMode-login-auth-main-container-panels-container-panel-p-color;
          }
        };

        .btn{
          border: 2px solid $App-darkMode-login-auth-main-container-panels-container-btn-border-color;
          color: $App-darkMode-login-auth-main-container-panels-container-btn-color;
        };

        .btn:hover {
          background-color: $App-darkMode-login-auth-main-container-panels-container-btn-onHover-background-color;
      };
      };
    };

    .auth-main-container::before{
      background: $App-darkMode-login-auth-main-container-before-background-color;
    };

    .text-editor-container .text-editor-header .editor-header{
      .editor-post-title input {
        background: $App-darkMode-text-editor-container-text-editor-header-editor-header-editor-post-title-input-background-color;
        color: $App-darkMode-text-editor-container-text-editor-header-editor-header-editor-post-title-input-color;
      };

      .editor-post-category-container{
        .editor-post-category{
          background-color: $App-darkMode-text-editor-container-text-editor-header-editor-header-editor-post-category-background-color;
  
          .category-selector-text {
            color: $App-darkMode-text-editor-container-text-editor-header-editor-header-category-selector-text-color;
          };
        };

        .editor-post-category-dropDown {
          background-color: $App-darkMode-text-editor-container-text-editor-header-editor-header-editor-post-category-dropDown-background-color;

          ul li:hover{
            background-color: $App-darkMode-text-editor-container-text-editor-header-editor-header-editor-post-category-dropDown-ul-li-onHover-background-color;
          }

          &.active ul{

            li{
              color: $App-darkMode-text-editor-container-text-editor-header-editor-header-editor-post-category-dropDown-active-ul-li-color;
              b:nth-child(1){
                background-color: $App-darkMode-text-editor-container-text-editor-header-editor-header-editor-post-category-dropDown-active-ul-li-b-nth-child-1-background-color;
              };
  
              b:nth-child(1)::before{
                background-color: $App-darkMode-text-editor-container-text-editor-header-editor-header-editor-post-category-dropDown-active-ul-li-b-nth-child-1-before-background-color;
              }
  
              b:nth-child(2){
                background-color: $App-darkMode-text-editor-container-text-editor-header-editor-header-editor-post-category-dropDown-active-ul-li-b-nth-child-2-background-color;
              };
  
              b:nth-child(2)::before{
                background-color: $App-darkMode-text-editor-container-text-editor-header-editor-header-editor-post-category-dropDown-active-ul-li-b-nth-child-2-before-background-color;
              }
            };

            li:hover{
              color: $App-darkMode-text-editor-container-text-editor-header-editor-header-editor-post-category-dropDown-active-ul-li-onHover-color;
            }
          }; 
        };
      }; 

      .editor-post-image-container .editor-post-image-btn{
        label{
          background: $App-darkMode-text-editor-container-text-editor-header-editor-header-editor-post-image-container-editor-post-image-btn-label-background
        };

        label:hover{
          background: $App-darkMode-text-editor-container-text-editor-header-editor-header-editor-post-image-container-editor-post-image-btn-label-onHover-background
        };
      };
    };

    .main-footer{
      background-color: $App-darkMode-footer-background-color;
      transition: all 2s ease-in-out;

      h4{
        color: #a3a3a3;
      };

      color: $App-darkMode-footer-texts-color;
    };
 };

 @media screen and (max-width: 900px) {
  .App-darkMode {
    nav {
      .more-icon-dropDown-Menu-Card-true {
        background-color: $App-darkMode-nav-more-icon-dropDown-Menu-Card-true-background-color;

        .more-icon-dropDown-Menu{
         background-color: $App-darkMode-nav-more-icon-dropDown-Menu-background-color;

         .users-avatar-name{
           color: $App-darkMode-nav-more-icon-dropDown-Menu-Card-true-users-avatar-name-color;
         };

         .toggle-mode-wrapper .toggle-mode-container{
           border-top: .5px solid $App-darkMode-nav-more-icon-dropDown-Menu-toggle-mode-container-border-color;
         }
        };
      };
      .menu-content-container {
          background-color: $App-darkMode-nav-menu-content-container-background-color;

          li:hover{
            background-color: $App-darkMode-nav-menu-content-container-li-hover-background-color;
          };
        };
      };
    };
 };

 main{
    transition: all 2s ease-in-out;
 }

 html body{
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-weight: 500;
   margin: 0;
   background-color: $body-background-color;
   transition: all 2s ease-in-out;
 };

 h1 {
   font-size: 2rem;
 };

 .container {
   max-width: 1200px;
   margin: 0 auto;
 };

 .row {
   margin: 4em 20px;
 };

 .overlay::before {
   z-index: 1;
   content: "";
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background: linear-gradient(transparent 0%, transparent 18%,  rgba(0,0,0,0.8) 99%,  rgba(0,0,0,0.8) 100%);
};