.popup {
    width: 350px;
    height: 280px;
    padding: 30px 20px;
    background: #f5f5f5;
    border-radius: 10px;
    box-sizing: border-box;
    z-index: 2;
    text-align: center;

    .icon{
        margin: 5px 0px;
        width: 50px;
        height: 50px;
        border: 2px solid #f35832;
        text-align: center;
        display: inline-block;
        border-radius: 50%;
        line-height: 60px
    };

    .title {
        margin: 5px 0px;
        font-size: 30px;
        font-weight: 600;
    };

    .description {
        color: #222;
        font-size: 15px;
        padding: 5px;
    };

    .popup-dismiss-btn {
        margin-top: 15px;

        button{
            padding: 10px 20px;
            // background-color: 
            font-size: 16px;
            font-weight: 600;     
            outline: none;
            margin: 0 8px;       
        };

        .confirm-popup-btn {
            background: linear-gradient(-45deg, #f35832, #dc3545);
            color: #fff;
            border: 2px #dc3545 solid;
            cursor: pointer;
        };

        .confirm-popup-btn:hover{
            background: linear-gradient(-45deg, #ec4419, #b32231);
            color: #fff;
            border: 2px #dc3545 solid;
        };

        .cancel-popup-btn{
            background: linear-gradient(-45deg, #fff, #F1F1E6);
            color: #f35832;
            border: 2px #f35832 solid;
            cursor: pointer;
        };

        .cancel-popup-btn:hover{
            background: linear-gradient(-45deg, rgb(255, 224, 224), #f1cbc4);
            color: #f35832;
            border: 2px #f35832 solid;
        };
    };
};